.no-imagen{
    min-height: 180px;

}

.image-product{
    max-height: 200px;
    min-height: 200px;
}

.barra-descuento {
    width: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.pointer {
    cursor: pointer;
}

#group-search {
    min-width: 370px;
}